name: CI

permissions:
  contents: read

on: [ push ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7

      - run: uv sync --dev

      - run: uv run ruff check

      - run: uv run ruff format --diff

      - run: uv run pytest
